In [1]:
import pandas as pd
import numpy as np

In [2]:
file1_csv = "hawaii_measurements.csv"
file2_csv = "hawaii_stations.csv"

In [3]:
measurements_df = pd.read_csv(file1_csv)
stations_df = pd.read_csv(file2_csv)

In [4]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
#identify incomplete rows
stations_df.count()
#looks good...

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [7]:
stations_df.dtypes
#looks good to be able to use

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [8]:
measurements_df.count()
#This one needs work...

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [9]:
# Dropped all rows with missing information since there will still be 18103 peices of data
measurements_df = measurements_df.dropna(how='any')

# Reviewing all Data to ensure it's all cleaned

In [10]:
measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [11]:
measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [12]:
measurements_df['station'].value_counts()
#these 9 stations match the 9 stations from 'Stations_df".

USC00519281    2772
USC00513117    2696
USC00519397    2685
USC00519523    2572
USC00516128    2484
USC00514830    1937
USC00511918    1932
USC00517948     683
USC00518838     342
Name: station, dtype: int64

In [13]:
stations_df['station'].value_counts()

USC00519397    1
USC00514830    1
USC00519281    1
USC00511918    1
USC00518838    1
USC00519523    1
USC00517948    1
USC00513117    1
USC00516128    1
Name: station, dtype: int64

In [14]:
measurements_df['date'].value_counts()

2011-01-05    9
2012-02-15    9
2010-09-22    9
2014-02-26    9
2011-04-15    9
2012-01-20    9
2011-03-30    9
2010-09-24    9
2010-06-04    9
2011-06-14    9
2011-05-06    9
2012-07-24    9
2012-01-17    9
2010-08-03    9
2010-09-13    9
2010-10-27    9
2010-05-25    9
2010-09-01    9
2011-02-15    9
2012-04-05    9
2010-10-08    9
2010-10-29    9
2011-01-25    9
2010-05-04    9
2011-04-01    9
2011-01-27    9
2011-04-19    9
2010-06-29    9
2013-04-03    9
2012-07-23    9
             ..
2015-02-02    4
2015-09-06    4
2017-08-03    4
2017-01-12    4
2015-08-09    4
2017-02-25    4
2016-07-04    4
2015-12-31    4
2016-08-06    4
2015-04-04    4
2012-08-19    3
2017-08-13    3
2017-04-08    3
2015-12-21    3
2017-08-19    3
2012-08-18    3
2017-08-11    3
2015-07-03    3
2015-07-05    3
2016-07-02    3
2015-07-04    3
2017-08-18    3
2016-07-23    3
2017-08-01    3
2017-08-09    3
2017-08-12    3
2017-08-21    3
2017-08-22    3
2017-08-05    2
2017-08-20    2
Name: date, Length: 2792, dtype: int64

In [15]:
measurements_df['prcp'].value_counts()

0.00     8185
0.01     1198
0.02      966
0.03      707
0.04      483
0.05      466
0.06      375
0.08      312
0.07      308
0.10      297
0.09      230
0.12      217
0.11      179
0.13      179
0.14      169
0.15      154
0.16      139
0.20      119
0.17      113
0.19      112
0.18      106
0.22      104
0.30       88
0.23       88
0.21       82
0.25       79
0.26       72
0.24       66
0.29       60
0.27       60
         ...
1.86        1
2.35        1
4.88        1
5.96        1
3.18        1
2.36        1
2.47        1
5.71        1
3.47        1
2.37        1
8.81        1
3.23        1
11.53       1
2.79        1
3.68        1
2.81        1
2.42        1
4.95        1
2.96        1
2.49        1
5.35        1
2.63        1
2.71        1
3.38        1
3.03        1
3.99        1
3.46        1
6.83        1
3.44        1
4.68        1
Name: prcp, Length: 342, dtype: int64

In [16]:
measurements_df['tobs'].value_counts()

74    1627
73    1563
76    1502
75    1489
72    1482
71    1347
77    1250
70    1179
78    1044
69    1042
79     697
68     694
67     560
80     532
66     426
65     343
81     329
64     233
63     177
82     142
62     128
61      74
83      68
60      47
84      32
58      29
59      19
57      18
56      12
85       9
86       3
87       3
54       1
53       1
55       1
Name: tobs, dtype: int64

In [17]:
measurements_df.describe()

               prcp          tobs
count  18103.000000  18103.000000
mean       0.160644     72.994863
std        0.468746      4.512107
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [18]:
stations_df.describe()

        latitude   longitude   elevation
count   9.000000    9.000000    9.000000
mean   21.393826 -157.867098   60.977778
std     0.086442    0.103873  103.465547
min    21.271600 -158.011100    0.900000
25%    21.333100 -157.975100    7.000000
50%    21.393400 -157.837400   14.600000
75%    21.451670 -157.802500   32.900000
max    21.521300 -157.711390  306.600000

In [19]:
measurements_df.to_csv("Hawaii_measurements_clean.csv", index=False, header=True)